<%= turbo_stream_from "invoices" %>

<div class="container">
  <div class="header">
    <h1>Invoices</h1>
    <%= link_to "New invoice", new_invoice_path, data: { turbo_frame: dom_id(Invoice.new) },class: "btn btn-secondary" %>
  </div>

  <%= turbo_frame_tag Invoice.new %>
  <%= turbo_frame_tag "invoices" do %>
    <%= render @invoices %>
  <% end %>
</div>
