<div class="container mb-5">
  <%= link_to sanitize("&larr; Back to invoices"), invoices_path %>
  <div class="card shadow mt-4">
    <div class="card-header">
      <div class="row">
        <div class="col-12 col-sm-8">
          Invoice: <%= @invoice.code %>
        </div>
        <div id="invoice-status" class="col-6 col-sm-2">
          <%= render "invoices/status_tag", invoice: @invoice %>
        </div>
        <div class="col-6 col-sm-2">
          Action:
          <div class="dropdown">
            <a class="dropdown-toggle" id="invoiceStatus" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-cloud-download-fill"></i>
            </a>
            <div id="invoice-action" aria-labelledby="invoiceStatus" class="dropdown-menu">
              <%= render "invoices/status", invoice: @invoice %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="form-inputs">
        <div class="row">
          <div class="col-12 col-sm-6">
            <h4>
              Client: <%= @invoice.client.name %>
            </h4>
          </div>
        </div>
        <div class="row justify-content-center mt-4 bg-light">
            <div class="col-12 col-sm-4"><b>Item</b></div>
            <div class="col-12 d-none col-sm-2 d-sm-block"><b>Quantity</b></div>
            <div class="col-12 d-none col-sm-2 d-sm-block"><b>Price</b></div>
            <div class="col-12 d-none col-sm-2 d-sm-block"><b>Actions</b></div>
        </div>
        <div class="row mt-4 mb-4">
          <%= turbo_frame_tag "items" do %>
            <%= render @invoice.items, invoice: @invoice %>
          <% end %>
          <%= turbo_frame_tag Item.new %>
        </div>
      </div>
    </div>
    <div id="add-item" class="card-footer">
        <%= render 'invoices/add_item', invoice: @invoice %>
    </div>
  </div>
</div>

<%= turbo_frame_tag dom_id(@invoice, :total) do %>
  <%= render "invoices/total", invoice: @invoice %>
<% end %>
