<%= simple_form_for customer, html: { class: "form" } do |f| %>
  <% if customer.errors.any? %>
    <div class="error-message">
      <%= customer.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4">
        <%= f.input :name, label: "Name", input_html: { autofocus: true } %>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <%= f.input :id_number, label: "Identification number" %>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <%= f.input :email, label: "Email" %>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <%= f.input :phone_number, label: "Phone number" %>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <%= f.input :address, label: "Address" %>
      </div>
    </div>
  </div>

  <div class="form-actions mt-3 d-grid gap-2">
    <%= link_to "Cancel", customers_path, class: "btn btn-secondary" %>
    <%= f.submit class: "btn btn-info" %>
  </div>
<% end %>
