<%= simple_form_for customer, html: { class: "form" } do |f| %>
  <%= form_error_notification(customer) %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4">
        <%= f.input :name, label: "Name", input_html: { autofocus: true } %>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <%= f.input :id_number, label: "Identification number" %>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <%= f.input :email, label: "Email" %>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <%= f.input :phone_number, label: "Phone number" %>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <%= f.input :address, label: "Address" %>
      </div>
    </div>
  </div>

  <div class="form-actions mt-3">
    <%= link_to customers_path do %>
      <div class="btn btn-info">
        <i class="bi bi-x-lg"></i>
      </div>
    <% end %>
    <%= f.submit class: "btn btn-warning" %>
  </div>
<% end %>
