<div class="row justify-content-center align-items-center mt-2">
  <div class="col-12 col-sm-4">
    <%= item.product.name %>
  </div>
  <div class="col-4 col-sm-2">
    <%= item.quantity %>
  </div>
  <div class="col-4 col-sm-2">
    <%= number_to_currency item.unit_price %>
  </div>
  <div class="col-4 col-sm-2">
    <%= link_to [:edit, invoice, item] do %>
      <div class="btn btn-info">
        <i class="bi bi-pencil-square"></i>
      </div>
    <% end %>
    <%= link_to [invoice, item], data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
      <div class="btn btn-danger">
        <i class="bi bi-trash"></i>
      </div>
    <% end %>
  </div>
</div>
