<%= simple_form_for product, html: { class: "form" } do |f| %>
  <% if product.errors.any? %>
    <div class="error-message">
      <%= product.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-12 col-sm-6">
        <%= f.input :name, label: "Name", input_html: { autofocus: true } %>
      </div>
      <div class="col-12 col-sm-6">
        <%= f.input :unit, as: :select, collection: Product.units, value_method: -> (r) { r[0] } %>
      </div>
    </div>
    <div class="col">
      <%= f.input :description %>
    </div>
  </div>

  <div class="form-actions mt-3 d-grid gap-2">
    <%= link_to "Cancel", products_path, class: "btn btn-secondary" %>
    <%= f.submit class: "btn btn-info" %>
  </div>
<% end %>
