<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <% if user_signed_in? %>
    <div class="container-fluid">
      <div class="navbar__brand">
        <%= current_company.name %>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Invoices", invoices_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Products", products_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Costumers", customers_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Providers", providers_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
      <div class="navbar__name">
        <%= current_user.name %>
      </div>
      <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-dark" %>
    </div>
  <% else %>
  <%= link_to "Sign in", new_user_session_path, class: "btn btn-dark navbar__right" %>
  <% end %>
</nav>
